@use '../abstracts/' as *;
@use '../base' as *;

//NAV-ICONS
.nav-icons {
	display: block;
	position: fixed;
	top: 25px;
	right: 20px;
	z-index: 5;
	width: 25px;
	height: 25px;
	border: 1px solid transparent;
	cursor: pointer;
}

.nav-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 25px;
	@media (min-width: 992px) {
		display: none;
	}

	&__hamburger {
		display: block;
		color: var(--white);
		@media (min-width: 992px) {
			display: none;
		}
	}

	&__close {
		display: none;
		color: var(--darkblue);
		@media (min-width: 992px) {
			display: none;
		}
	}
}

// NAV
.nav {
	&-desktop {
		display: none;

		@media (min-width: 992px) {
			display: flex;
			justify-content: center;
			position: fixed;
			top: 0;
			height: 56px;
			width: 100%;
			z-index: 1;
			background-color: var(--white);
			font-family: 'Galano Grotesque Medium';

			&__ul {
				display: flex;
				justify-content: space-around;
				align-items: center;
				position: relative;
				height: 100%;
				width: 90%;
				max-width: 1200px;
				list-style: none;
			}

			&__li {
				position: relative;
				min-width: 170px;
				max-width: 200px;
				height: 100%;
				transition: 0.7s;
				list-style: none;
			}

			&__link {
				position: absolute;
				top: 0;
				left: 0;
				line-height: 56px;
				width: 100%;
				text-align: center;
				font-size: 16px;
				color: var(--darkblue);
				background-color: var(--white);
				&.active {
					border-bottom: 3px solid var(--lightred);
				}
			}
		}
	}
	.etapas {
		z-index: 1;
		&__ul {
			position: absolute;
			top: calc(-6 * 56px);
			display: flex;
			justify-content: start;
			align-items: center;
			flex-direction: column;
			min-width: 170px;
			max-width: 200px;
			transition: 0.7s;
			z-index: -1;
			list-style: none;
			&.active {
				top: 56px;
			}
		}
		&__li {
			width: 100%;
			background-color: rgba(255, 255, 255, 1);
			height: 56px;
			min-width: 170px;
			max-width: 200px;
			text-align: center;
			line-height: 56px;
		}

		&__link {
			width: 100%;
			color: var(--darkblue);
			&.active {
				color: var(--red);
			}
		}
	}

	&-mobile {
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		top: 0;
		left: 0;
		min-height: 100vh;
		width: 100%;
		background-color: rgba(255, 255, 255, 0.95);
		transform: translateX(-120%);
		transition: transform 0.9s;
		font-family: 'Galano Grotesque Regular';
		font-size: 18px;

		@media (min-width: 992px) {
			display: none;
		}

		&.active {
			transform: translateX(0);
			z-index: 3;
		}

		&__link {
			width: 60%;
			margin-bottom: 13px;
			text-align: left;
			text-decoration: none;
			cursor: pointer;
			color: var(--darkblue);

			&:hover {
				color: var(--lightblue);
			}

			&--etapas {
				cursor: default;
			}

			&--red {
				color: var(--red);
				margin-left: 30px;

				&:hover {
					color: var(--lightblue);
				}
			}
		}
	}
}
