.section-steps {
	// position: relative;
	&__header {
		display: flex;
		text-align: left;
		align-items: center;

		&--longer-title {
			width: 100%;
			display: flex;
			justify-content: start;
			align-items: center;
			flex-wrap: wrap;
		}
	}

	&__icon {
		height: 32px;

		@media (min-width: 576px) {
			height: 40px;
		}

		@media (min-width: 992px) {
			height: 50px;
		}
	}

	&__span {
		display: block;
		margin-top: 4px;
		padding-left: 10px;
	}
}
