.section-steps {
	// position: relative;
	&__header {
		display: flex;
		text-align: left;
		align-items: center;

		&--light-red {
			color: var(--lightred);
		}

		&--light-blue {
			color: var(--lightblue);
		}
	}
	&__icon {
		height: 32px;

		@media (min-width: 576px) {
			height: 40px;
		}

		@media (min-width: 992px) {
			height: 50px;
		}
	}

	&__span {
		display: block;
		margin-top: 4px;
		padding-left: 10px;
	}

	.etapas-description {
		&--light-red {
			color: var(--lightred);
		}
	}

	&--light-red {
		background-color: var(--lightred);
	}

	&--light-blue {
		background-color: var(--lightblue);
	}

	&--white {
		background-color: var(--white);
	}
}
