.section {
	display: flex;
	justify-content: center;
	align-items: start;
	min-height: 100vh;
}

.section__wrapper {
	position: relative;
	width: 90%;
	max-width: 1200px;
	padding-top: 60px;
	padding-bottom: 40px;
}

.section-info {
	background-color: var(--darkblue);
}
